.text3{
    width: 60%;
    height: 80%;
    margin-top: 55px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 90px;
    color: hsl(213, 96%, 18%);
    position: relative;
    font-size: 14px;
    position: relative;
    display: none;
  }
  .addone,.addtwo,.addthree{
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 50px;
    border: 1px solid rgb(182, 170, 170);
    height: 60px;
    border-radius: 5px;
    cursor: pointer;

  }
  .clickedbox{
    background-color: hsl(223, 33%, 96%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-color: blue;

}
  .addone:hover,.addtwo:hover,.addthree:hover{
    background-color: hsl(240, 36%, 95%);;
  }
  #add1,#add2,#add3{
    width: 15px;
    margin-left: 15px;
    accent-color: hsl(243, 100%, 62%);
  }
  .o,.l,.c{
    font-weight: bold;
    padding-right: 150px;
  }
  .l{
    padding-right: 180;
  }
  .as,.cu,.ex{
    font-weight: lighter;
    font-size: smaller;
  }
  #m1{
    color: hsl(243, 100%, 62%);
    font-size: small;
  }
  #btn33{
    top: 75%;
    right: 60px;
    margin-top: 90px;
    align-self:flex-end;
    background-color: hsl(213, 96%, 18%);
    position: absolute;
    top: 75%;
    color: hsl(0, 0%, 100%);
    right: 140px;
    width: 100px;
    cursor: pointer;
  }