.text6{
    width: 60%;
    height: 80%;
    margin-top: 55px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 90px;
    color: hsl(213, 96%, 18%);
    position: relative;
    font-size: 14px;
    display: none;
  }

  .thimage{
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    left: 40%;
    position: absolute;
    top: 20%;
  }
  .th{
    position: absolute;
    top: 40%;
    font-weight: bold;
    left: 35%;
  }
  .last{
    position: absolute;
    top: 50%;
    left: 15%;
    text-align: center;
    text-wrap: nowrap;
    color: hsl(224, 5%, 52%);

  }